<head>
</head>

<body>
  <!-- render nav bar -->
  <div class="index_header">
    Choose a space
  </div>
  <div class="index_filters">
    London ----- Rating -- Type
  </div>
  <div class="index_cards">
    <% @spaces.each do |space| %>
      <%= space.name %>
    <% end %>
  </div>
  <div class="map">
    ---------
  </div>
  <div class="space_cta">
    ------
  </div>
</body>

<footer>

</footer>
