<head>
</head>

<body>
  <!-- render nav bar -->
  <div class="index_header">
    Choose a space
  </div>
  <div class="index_filters">
    London ----- Rating -- Type
  </div>
  <div class="index_cards">
    <% @spaces.each do |space| %>
      <div class="index_card">
        <div class="space_category">
          <%= space.category %>
        </div>
        <div class="space_name">
          <%= space.name %>
        </div>
         <div class="space_address">
          <%= space.address %>
        </div>
        <div class="view_cta">
          <p>View</p>
        </div>
        <div class="card_rating">
          * 4.7
        </div>
      </div>
    <% end %>
  </div>
  <div class="map">
    ---------
  </div>
  <div class="space_cta">
    ------
  </div>
</body>

<footer>

</footer>
