<head>

</head>



<div class="filters">
Search bar ---- Type -- Rating
</div>


<div class="space_cards">
  Squares
   Squares
    Squares
     Squares
      Squares
</div>


<div class="map">
-
-
-
-
-
-
-
-

</div>


<div class="space_cta">
  -
  -
  -

</div>


<footer>

</footer>
