<body class="bg-gray-200">
  <div class="pt-20 px-24 container max-w-7xl mx-auto flex flex-wrap">
    <div class="mt-28 mr-28">
         <div class="text-6xl font-bold mx-auto text-gray-700">Work. <br> <span class="text-green-700">Passless.</span>
   </div>
   <h1 class="mt-6 text-2xl font-light">Discover laptop friendly spaces,<br> <span class="text-green-600">without costly passes</span> </h1>
   <div class="mt-6">
     <a class="px-5 py-3 bg-green-700 hover:bg-green-500 transition text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm hover:no-underline" href="">Search Locations</a>
   </div>
    </div>
  <%= image_tag("working.jpg", :alt => "person working", class: "object-scale-down h-50 w-50 mt-20 rounded-lg shadow-xl") %>
  </div>
</body>

