// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  display: flex;
  padding-top: 104px;
  justify-content: space-around;
  .banner-text {
    .banner-title {
      font-size: 64px;
      line-height: 20px;
      padding-left: 85px;
      padding-bottom: 22px;
    }
    .banner-description {
      font-size: 18px;
      line-height: 28px;
      max-width: 290px;
      padding-left: 97px;
      padding-bottom: 22px;
    }
    .banner-search {
      font-size: 16px;
      padding-left: 129px;
    }

  }
}
