// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .index_cards {
//   max-width: 520px;
// }

.index_card {
  width: 217px;
  height: 196px;
  position: relative;
    .view_cta {
      width: 75px;
      height: 44px;
    }
    .card_rating {
      position: absolute;
      top: 147px;
      left: 119px;
    }
}
